
main {
  display: flex;
  justify-content: center;
  align-items: center;

}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  max-height: fit-content;
  margin: auto;
  margin: 30px 0px;
 overflow: scroll;
}

.main-content {
  text-align: center;
  max-width: 450px;
  display: block;
  justify-content: center;
  align-items: center;

}

#message {
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.button-container {
  display: flex;
  justify-content:center;
  margin: 10px;

}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.animalImageButton {
  width: 90px;
  height: 90px;

  border: none;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  position: relative;
}
.image-cover::after{
  content: "div";
  background-image: url("../assets//images/nature.png");
  display: block;
  width: 90px;
  height: 90px;
  margin: 10px;
  border: none;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: -10px;
  left: -10px;
}

.animalImageButton:hover {
  background-color: #ffffff00;
  transform: scale(1.1) rotate(5deg);
  transition: transform 0.3s ease;
}

#playButton {
  width: 80px;
  height: 80px;
  background-color: #4CAF50;
  margin: 10px;
  border-radius: 50%;
}

#playButton:hover {
  transform: scale(1.1);
  transition: border 0.3s ease, transform 0.3s ease;
}

#restartButton {
  width: 80px;
  height: 80px;
  background-color: #e74c3c;
  margin: 10px;
  border-radius: 50%;
}

#restartButton:hover {
  transform: scale(1.1);
  transition: border 0.3s ease, transform 0.3s ease;
}

.button-container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.button-container-2 button {
width: fit-content;
}
#returnButton {
  width: 150px;
  height: 40px;
  background-color: #e74c3c;
  margin-top: 10px;
}

#returnButton:hover {
  transform: scale(1.1);
  transition: border 0.3s ease, transform 0.3s ease;
}

.container-levels{
  text-align: center;
}

.main-image{
  width: 200px;
}




footer{
  display: block;

}


@media screen and (min-width: 560px) {

  #root{
   
  display: block;
 
 
  }
  .main-image{
    width: 100%;
  }
  
  
footer{
  display: block;
  position: absolute;
}
.main-container {
  display: flex;
  height: calc(100% - 80px);
justify-content: center;
margin: auto;
}
.main-container {

 overflow: auto;
}
.button-container-2 {

  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.button-container-2 button {
width: fit-content;
}
  
}