body {
  font-family: 'Feather Bold', sans-serif;
  background-color: #f7f7f7;
  color: #333;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
#root{
  display: block;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 100%;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  max-height: fit-content;
  margin: auto;
}

.main-content {
  text-align: center;
  max-width: 450px;
  display: block;
  justify-content: center;
  align-items: center;
}


h1 {
  font-size: 28px;
  font-weight: bold;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.buttons {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin: auto;
 
}

button  {
  width: 150px;
  height: 40px;
  background-color: #4CAF50;
  color: #fff;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  margin: 5px 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #61cb65;
  transform: scale(1.1);
  transition: border 0.3s ease, transform 0.3s ease;
}

#returnButton {
  background-color: #e74c3c;
  margin-top: 10px;
}

#returnButton:hover {
  background-color: #c0392b;
}

#mainMessage {
  margin: 10px;
}
#mainMessage h2{
  margin-bottom: 20px;
}
.footer-content-made-by {
  background-color: #ddd;
  height: 80px;
  color: #000000;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  bottom: 0;
  width: 100%;
  padding: 0 20px;
}
footer{
  bottom: 0;
}